.rom{
    font-size: 10px;
}
.siam{
    margin: 15px;
}
.A{
    margin-top: 25px;
    margin-left: 20PX;
}
.an{
    margin-top: -13px;
}
.dha{
    margin-top: -13px;
}
.anthro{
    margin-left: 15%;
   margin-top: -28px;
}
#searchInput {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#productList {
    list-style-type: none;
    padding: 0;
}
.b{
    margin-left: 16.5%;
    margin-top: -33px;
}
.roshan{
    margin-left: 75%;
    margin-top: -47px;
}
.sin{
    margin-left: 40px;
}
.meta{
    margin-left: 90%;
    margin-top: -33px;
}
.khata{
    margin-top: 20px;
    margin-left: 20px;
}
.mela{
    font-size: 10px;
    margin-top: -30px;
}
.kala{
    margin-left: 60%;
    margin-top: -25%;    
}
.mela{
    margin-left: 70%;
    margin-top: -60px;
}
.power{
    margin-left: 70%;
    font-size: 10px;
    margin-top: 5px;
}
.dola{
    margin-left: 72%;
    font-size: 10px;
    color: red;
    margin-top: -12px;
}
.mema{
    height: 90px;
    border: 10px;
    
}
.star{
    margin-left: 60.25%;
    margin-top: 50px;
}
.mola{
    font-size: 10px;
    margin-left: 70%;
    margin-top: -22px;
}
.pola{
    font-size: 10px;
    color: red;
}
.ngun{
    margin-left: 60.25%;
    margin-top: 45px;
}

